In [2]:
import requests
import pandas as pd

headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36',
}

def tcb_bank():
    
    url = 'https://www.tcb-bank.com.tw/finance_info/Pages/foreign_deposit_loans_rate.aspx'
    
    response = requests.get(url=url, headers=headers)
    
    df = pd.read_html(response.text)[6]

    df.dropna(inplace=True)

    df.columns = ['幣別', '活期', '一週', '一個月', '三個月', '六個月', '九個月', '一年']
    
    df['銀行'] = '合作金庫'
    df['幣別'] = df['幣別'].str.extract('([A-Z]+)')
    df = df.set_index(['銀行', '幣別'])
    
    df = df.apply(lambda s: s.str.replace('%', ''))
    df = df.apply(pd.to_numeric, errors='coerce')
    
    return df

def esun_bank():
    
    url = 'https://www.esunbank.com.tw/bank/personal/deposit/rate/foreign/deposit-rate'
    
    response = requests.get(url=url, headers=headers)
    
    df = pd.read_html(response.text)[0]

    df = df.drop([0, 1])
    
    df.columns = ['幣別', '活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']
    
    df['幣別'] = df['幣別'].str.extract('([A-Z]+)')  
    df['銀行'] = '玉山銀行'
    
    df = df.set_index(['銀行', '幣別'])
    
    df = df.apply(pd.to_numeric, errors='coerce')
    
    return df

def get_taiwan_bank():
    
    url = 'https://rate.bot.com.tw/ir?Lang=zh-TW'

    response = requests.get(url=url, headers=headers)

    df = pd.read_html(response.text)[0]
    
    df = df.drop(df.columns[[-1, -2]], axis=1)
    
    df.columns = ['幣別', '活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']
    
    df = df.drop(1)
    
    df['幣別'] = df['幣別'].str.extract('([A-Z]+)')   
    df['銀行'] = '臺灣銀行'
    df = df.set_index(['銀行', '幣別'])

    df = df.apply(pd.to_numeric, errors='coerce')
    
    return df

In [3]:
合作金庫 = tcb_bank()
玉山銀行 = esun_bank()
台灣銀行 = get_taiwan_bank()

In [4]:
banks = pd.concat([合作金庫, 玉山銀行, 台灣銀行], sort=False)
banks

             活期     一週    一個月    三個月    六個月    九個月     一年     二週     三週
銀行   幣別
合作金庫 USD  0.100  0.150  0.350  0.450  0.550  0.600  0.700    NaN    NaN
     HKD  0.050  0.100  0.200  0.300  0.400  0.450  0.550    NaN    NaN
     GBP  0.050  0.080  0.100  0.150  0.150  0.150  0.200    NaN    NaN
     AUD  0.050  0.400  0.450  0.500  0.600  0.600  0.650    NaN    NaN
     SGD  0.010  0.020  0.050  0.050  0.150  0.200  0.200    NaN    NaN
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001    NaN    NaN
     CAD  0.100  0.250  0.350  0.400  0.450  0.450  0.500    NaN    NaN
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001    NaN    NaN
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001    NaN    NaN
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001    NaN    NaN
     NZD  0.050  0.450  0.500  0.550  0.650  0.650  0.700    NaN    NaN
     THB  0.200  0.250  0.400  0.500  0.550  0.600  0.700    NaN    NaN
     ZAR  0.900  2.400  3.500  3.500  3.200  3.200  3.200    NaN    NaN
     CNY  0.200  0.350  0.900  1.000  1.400  1.400  1.400    NaN    NaN
玉山銀行 USD  0.050  0.150  0.300  0.400  0.500  0.550  0.600  0.150  0.150
     CNY  0.200  0.450  1.100  1.200  1.500  1.500  1.500  0.450  0.450
     AUD  0.020  0.100  0.400  0.500  0.600  0.650  0.700  0.200  0.300
     ZAR  0.500  2.000  3.500  3.500  3.300  3.300  3.300  2.000  2.000
     NZD  0.050  0.100  0.200  0.200  0.300  0.300  0.300  0.100  0.100
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     HKD  0.010  0.020  0.050  0.100  0.150  0.200  0.300  0.020  0.020
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     MXN  2.200  3.400  4.200  4.300  4.600  4.900  5.200  3.600  3.900
     CAD  0.050    NaN  0.150  0.250  0.350  0.450  0.500    NaN    NaN
     CHF  0.000    NaN  0.000  0.000  0.000  0.000  0.000    NaN    NaN
     GBP  0.010    NaN  0.050  0.050  0.050  0.050  0.050    NaN    NaN
     SEK  0.000    NaN  0.000  0.000  0.000  0.000  0.000    NaN    NaN
     SGD  0.050    NaN  0.150  0.200  0.250  0.300  0.300    NaN    NaN
     THB  0.200    NaN  0.500  0.600  0.700  0.800  0.900    NaN    NaN
臺灣銀行 USD  0.100  0.200  0.350  0.450  0.550  0.600  0.700  0.200  0.200
     HKD  0.050  0.100  0.200  0.300  0.400  0.450  0.550  0.100  0.100
     GBP  0.050  0.080  0.100  0.150  0.150  0.150  0.200  0.080  0.080
     AUD  0.050  0.250  0.450  0.500  0.600  0.600  0.650  0.250  0.250
     CAD  0.100  0.150  0.350  0.400  0.450  0.450  0.500  0.150  0.150
     SGD  0.050  0.100  0.100  0.150  0.200  0.300  0.300  0.100  0.100
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.002  0.001  0.001
     ZAR  0.900  2.000  3.500  3.500  3.200  3.200  3.200  2.000  2.000
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.300  0.500  0.550  0.650  0.650  0.700  0.300  0.300
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.002  0.001  0.001
     CNY  0.300  0.550  1.150  1.250  1.500  1.500  1.500  0.550  0.550

In [5]:
banks = banks[['活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']]
banks

             活期     一週     二週     三週    一個月    三個月    六個月    九個月     一年
銀行   幣別
合作金庫 USD  0.100  0.150    NaN    NaN  0.350  0.450  0.550  0.600  0.700
     HKD  0.050  0.100    NaN    NaN  0.200  0.300  0.400  0.450  0.550
     GBP  0.050  0.080    NaN    NaN  0.100  0.150  0.150  0.150  0.200
     AUD  0.050  0.400    NaN    NaN  0.450  0.500  0.600  0.600  0.650
     SGD  0.010  0.020    NaN    NaN  0.050  0.050  0.150  0.200  0.200
     CHF  0.001  0.001    NaN    NaN  0.001  0.001  0.001  0.001  0.001
     CAD  0.100  0.250    NaN    NaN  0.350  0.400  0.450  0.450  0.500
     JPY  0.001  0.001    NaN    NaN  0.001  0.001  0.001  0.001  0.001
     SEK  0.001  0.001    NaN    NaN  0.001  0.001  0.001  0.001  0.001
     EUR  0.001  0.001    NaN    NaN  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.450    NaN    NaN  0.500  0.550  0.650  0.650  0.700
     THB  0.200  0.250    NaN    NaN  0.400  0.500  0.550  0.600  0.700
     ZAR  0.900  2.400    NaN    NaN  3.500  3.500  3.200  3.200  3.200
     CNY  0.200  0.350    NaN    NaN  0.900  1.000  1.400  1.400  1.400
玉山銀行 USD  0.050  0.150  0.150  0.150  0.300  0.400  0.500  0.550  0.600
     CNY  0.200  0.450  0.450  0.450  1.100  1.200  1.500  1.500  1.500
     AUD  0.020  0.100  0.200  0.300  0.400  0.500  0.600  0.650  0.700
     ZAR  0.500  2.000  2.000  2.000  3.500  3.500  3.300  3.300  3.300
     NZD  0.050  0.100  0.100  0.100  0.200  0.200  0.300  0.300  0.300
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     HKD  0.010  0.020  0.020  0.020  0.050  0.100  0.150  0.200  0.300
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     MXN  2.200  3.400  3.600  3.900  4.200  4.300  4.600  4.900  5.200
     CAD  0.050    NaN    NaN    NaN  0.150  0.250  0.350  0.450  0.500
     CHF  0.000    NaN    NaN    NaN  0.000  0.000  0.000  0.000  0.000
     GBP  0.010    NaN    NaN    NaN  0.050  0.050  0.050  0.050  0.050
     SEK  0.000    NaN    NaN    NaN  0.000  0.000  0.000  0.000  0.000
     SGD  0.050    NaN    NaN    NaN  0.150  0.200  0.250  0.300  0.300
     THB  0.200    NaN    NaN    NaN  0.500  0.600  0.700  0.800  0.900
臺灣銀行 USD  0.100  0.200  0.200  0.200  0.350  0.450  0.550  0.600  0.700
     HKD  0.050  0.100  0.100  0.100  0.200  0.300  0.400  0.450  0.550
     GBP  0.050  0.080  0.080  0.080  0.100  0.150  0.150  0.150  0.200
     AUD  0.050  0.250  0.250  0.250  0.450  0.500  0.600  0.600  0.650
     CAD  0.100  0.150  0.150  0.150  0.350  0.400  0.450  0.450  0.500
     SGD  0.050  0.100  0.100  0.100  0.100  0.150  0.200  0.300  0.300
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.002
     ZAR  0.900  2.000  2.000  2.000  3.500  3.500  3.200  3.200  3.200
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.300  0.300  0.300  0.500  0.550  0.650  0.650  0.700
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.002
     CNY  0.300  0.550  0.550  0.550  1.150  1.250  1.500  1.500  1.500

In [9]:
外幣利率 = banks[banks.index.get_level_values('幣別') == 'AUD']
外幣利率.style.highlight_max()

In [10]:
外幣最高利率 = pd.DataFrame({
    '銀行': 外幣利率.idxmax(),
    '利率': 外幣利率.max()
    })

外幣最高利率

              銀行    利率
活期   (合作金庫, AUD)  0.05
一週   (合作金庫, AUD)  0.40
二週   (臺灣銀行, AUD)  0.25
三週   (玉山銀行, AUD)  0.30
一個月  (合作金庫, AUD)  0.45
三個月  (合作金庫, AUD)  0.50
六個月  (合作金庫, AUD)  0.60
九個月  (玉山銀行, AUD)  0.65
一年   (玉山銀行, AUD)  0.70

In [11]:
def get_best_fc_interest_rate(currency):

    合作金庫 = tcb_bank()
    玉山銀行 = esun_bank()
    台灣銀行 = get_taiwan_bank()
    
    banks = pd.concat([合作金庫, 玉山銀行, 台灣銀行], sort=False)
    banks = banks[['活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']]
    
    外幣利率 = banks.iloc[banks.index.get_level_values('幣別') == currency]
    
    外幣最高利率 = pd.DataFrame({
    '銀行': 外幣利率.idxmax(),
    '利率': 外幣利率.max()
    })

    return 外幣最高利率

In [12]:
get_best_fc_interest_rate('USD')

              銀行    利率
活期   (合作金庫, USD)  0.10
一週   (臺灣銀行, USD)  0.20
二週   (臺灣銀行, USD)  0.20
三週   (臺灣銀行, USD)  0.20
一個月  (合作金庫, USD)  0.35
三個月  (合作金庫, USD)  0.45
六個月  (合作金庫, USD)  0.55
九個月  (合作金庫, USD)  0.60
一年   (合作金庫, USD)  0.70