In [1]:
box = [50, 10, 10, 100]

In [2]:
box

[50, 10, 10, 100]

In [3]:
box[0]

50

In [4]:
box[1]

10

In [5]:
box[-1]

100

In [6]:
box[:3]

[50, 10, 10]

In [7]:
box[1:3]

[10, 10]

In [8]:
box.append(5)

In [9]:
box

[50, 10, 10, 100, 5]

In [10]:
box.insert(1, 100)

In [11]:
box

[50, 100, 10, 10, 100, 5]

In [12]:
box[2] = 50

In [13]:
box

[50, 100, 50, 10, 100, 5]

In [14]:
box.pop()

5

In [15]:
box

[50, 100, 50, 10, 100]

In [16]:
box.pop(1)

100

In [17]:
box

[50, 50, 10, 100]

In [18]:
for i in box:
    print(i)

50
50
10
100

In [19]:
box = [50, 10, 50, 10, 10, 10, 5, 50, 50, 5]

In [20]:
total = 0

for coin in box:
    total += coin
    
print(total)

250

In [21]:
accounts = {
    '國泰': 10000000,
    '玉山': 800000
}

In [22]:
accounts

{'國泰': 10000000, '玉山': 800000}

In [26]:
accounts.get('國泰')

10000000

In [27]:
accounts['匯豐'] = 500000

In [28]:
accounts

{'國泰': 10000000, '玉山': 800000, '匯豐': 500000}

In [33]:
accounts['國泰'] = 3000000

In [34]:
accounts

{'國泰': 3000000, '玉山': 800000, '匯豐': 500000}

In [35]:
del accounts['玉山']

In [36]:
accounts

{'國泰': 3000000, '匯豐': 500000}

In [37]:
for account in accounts:
    print(account)

國泰
匯豐

In [38]:
for account in accounts:
    print(account, accounts[account])

國泰 3000000
匯豐 500000

In [39]:
for account, amount in accounts.items():
    print(account, amount)

國泰 3000000
匯豐 500000

In [41]:
bank_account = None
highest = 0

for account, amount in accounts.items():
    
    if amount > highest:
        bank_account = account
        highest = amount
        
print(bank_account, highest)

國泰 3000000