# 資料庫基礎教學 1

SQLite 下載連結：https://www.sqlite.org/download.html<br>
DB Browser for SQLite 下載連結：https://sqlitebrowser.org/dl/

In [1]:
import sqlite3

connection = sqlite3.connect('股票清單.db')

cursor = connection.cursor()

command = '''CREATE TABLE IF NOT EXISTS
stock(id TEXT PRIMARY KEY, name TEXT, date TEXT)
'''

cursor.execute(command)

In [2]:
cursor.execute('INSERT INTO stock VALUES ("1101", "台泥", "1962/02/09")')
cursor.execute('INSERT INTO stock VALUES ("1102", "亞泥", "1962/06/08")')
cursor.execute('INSERT INTO stock VALUES ("1103", "嘉泥", "1969/11/14")')

connection.commit()

In [3]:
cursor.execute('UPDATE stock SET date = "1969/11/15" WHERE id = "1103"')
connection.commit()

In [4]:
cursor.execute('DELETE FROM stock WHERE id = "1103"')
connection.commit()

In [5]:
cursor.execute('SELECT * FROM stock')

stocks = cursor.fetchall()

for stock in stocks:
    print('證券代號：{} 名稱：{} 上市日：{}'.format(stock[0], stock[1], stock[2]))

證券代號：1101 名稱：台泥 上市日：1962/02/09
證券代號：1102 名稱：亞泥 上市日：1962/06/08

In [7]:
cursor.execute("SELECT * FROM stock WHERE id = 1102")

stock = cursor.fetchone()

print('證券代號：{} 名稱：{} 上市日：{}'.format(stock[0], stock[1], stock[2]))

證券代號：1102 名稱：亞泥 上市日：1962/06/08

In [8]:
connection.close()